# =========================
# UNITY
# =========================

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

# =========================
# VISUAL STUDIO / VS CODE
# =========================

.vs/
.vscode/

*.csproj
*.sln
*.slnx
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# =========================
# UNITY GENERATED
# =========================

sysinfo.txt

# =========================
# PYTHON
# =========================

venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# SISTEMA OPERATIVO
# =========================

.DS_Store
Thumbs.db
desktop.ini


# UNITY ADICIONAL
[Mm]emoryCaptures/
[Rr]ecordings/
ExportedObj/
crashlytics-build.properties

# JETBRAINS RIDER
.idea/

# ARCHIVOS TEMPORALES
*.tmp
*.log